Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: true
ColumnLimit: 110